﻿body 
{
    margin:0px auto;
	padding:0px;
	font-family:"Century Gothic", Arial, Helvetica, sans-serif;
	font-size:12px;
}
.centered { margin: 0px auto; }
mGrid { width: 100%; background-color: #fff; float: left; border: solid 0px #5999f1; border-collapse:collapse; }
.mGrid td { padding: 2px; border: solid 1px #5999f1; color: #5999f1; }
.mGrid th { height: 17px; color: #fff;  text-align:center; background: url(../images/grd_head.png) repeat-x top; font-weight:normal; border-left: solid 1px #5999f1; font-size: 12px; }
.mGrid .alt { background: #fcfcfc url(../images/grd_alt.png) repeat-x top; }
.mGrid .pgr { height: 20px; background: url(../images/grd_head.png) repeat-x top; }
.mGrid .pgr table { margin: 0px 0px; }
.mGrid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }   
.mGrid .pgr a { color: #0066cc; text-decoration: none; }
.mGrid .pgr a:hover { color: #000; text-decoration: none; }

detailsview { background-color: #fff; }
.detailsview td { padding: 2px; border: solid 0px #5999f1; text-align:left; color: #000; }
.detailsview th { height: 25px; color: #fff; background: url(../images/grd_head.png) repeat-x top; font-weight:normal; font-size: 12px; }
.detailsview .alt { background: #fcfcfc url(../images/fFon.png) repeat-x top; }

.button { background: transparent url(../images/btn_normal.png) no-repeat top center; border: none; width: 150px; height: 25px; color: #fff; font-size: 12px; font-family:Century Gothic;}
.button:active{ background: transparent url(../images/btn_active.png) no-repeat top center; border: none; width: 150px; height: 25px; color: #fff; font-size: 11px; }
.button:hover{ cursor: pointer; }

.button-edit { background: transparent url(../images/edit.png) no-repeat top center; border: none; width: 32px; height: 32px; color: #fff; font-size: 12px; font-family:Century Gothic;}
.button-info { background: transparent url(../images/info.png) no-repeat top center; border: none; width: 32px; height: 32px; color: #fff; font-size: 12px; font-family:Century Gothic;}
.textbox { width: 140px; margin: 0px; padding: 0px;}

.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
border-radius: 3px;
background-repeat: no-repeat;
background-position: 10px center;
}
.validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
border-radius: 3px;
background-repeat: no-repeat;
background-position: 10px center;
}
.validation
{
color: #D8000C;
background-color: #FFBABA;
background-image: url('../images/error.png');
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('../images/info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('../images/success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../images/warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('../images/error.png');
}

.modalBackground { background-color:#000; filter:alpha(opacity=70); opacity:0.7; } 
.modalPopup { background:url(../images/ffon.png) repeat; background-color:#BDE5F8; border-width:1px; border-style:solid; color:#fff; padding:3px; width:320px; height:100px; } 
.modalPopup p { margin-left: 5px; }

.calendar{ width:16px; height:16px; border:0px; background-image:url(../images/calendar.gif); display:inline; background-repeat:no-repeat; background-color:transparent; cursor:pointer; margin-left: 0px; }